.locales_01{
    display: flex;
    /* border: 1px solid black; */
    font-size: 12px;
    align-items: center;
    height: 20%;
    padding: 3%;
    user-select: none;
    /* margin-bottom: 10%; */
}
.locales_01:hover{
    background-color: rgb(243, 243, 243);
}

.loc{
    padding-left: 2%;

}